body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #007bff;
    color: white;
    padding: 10px 0;
}

nav {
    margin-top: 20px;
}

a {
    text-decoration: none;
    color: #007bff;
    margin: 10px;
    font-size: 18px;
}

a:hover {
    color: #0056b3;
}

a.active {
    text-decoration: underline;
}

select {
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    outline: none;
}

label {
    font-weight: bold;
}

/* Estilizando o link como um botão */
a.install {
    display: inline-block;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s;
}

a.install:hover {
    background-color: #0056b3;
    text-decoration: none;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

section {
    margin: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-collapse: collapse;
    width: auto;
}

th,
td {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

/* Botão remove */
button.remove {
    display: inline-block;
    background-color: red;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s;
    border: none;
    cursor: pointer;
}

button.remove:hover {
    background-color: red;
    text-decoration: none;
}